<template>
  <NuxtPage />

</template>



<script setup>

import { useRegisterUser } from "@/store/UserStore";

// const {isAuthenticated} = useRegisterUser();


</script>

<style>
body {
  direction: rtl;
}
* {
  font-family: "IRANSans";
}
</style>
