

<template>
  <NuxtLayout>
    <template v-slot:header>
        اشخاص
    </template>
    <div>محتوای صفحه</div>
  </NuxtLayout>
</template>

<script setup>

  
  definePageMeta({
    layout: "dashboard"
  });
  </script>